@model Categoria

<form method="post" class="form-control" asp-controller="Categoria" asp-action="Categoria">

    <h3>Categoria</h3>

    <div>
        <input asp-for="Nome" placeholder="Nome" />
        <span asp-validation-for="Nome"></span>
    </div>

    <button type="submit">Cadastrar</button>
</form>