@model Categoria

<h1>Removendo Categoria</h1>

<form method="post" asp-controller="Home" asp-action="CategoriaRemocao">
    <h3>Exclusão da Categoria</h3>
    <div class="four wide column">
        <p> Confirmar remoção da categoria?</p>
        <button type="submit">Remover</button>
    </div>

</form>