@model Categoria

<h1>Edição da Categoria</h1>

<form method="post" asp-controller="Home" asp-action="CategoriaEdicao">
    <div>
        <input asp-for="Nome" placeholder="Nome" />
        <span asp-validation-for="Nome"></span>
    </div>
    <br />
    <br />
    <button type="submit">Salvar</button>
</form>