@model Item

<form method="post" class="form-control form-group" asp-controller="Home" asp-action="EdicaoItem">

    <h3>Alteração da Publicação</h3>

    <div>
        <input asp-for="Titulo" placeholder="Título" />
        <span asp-validation-for="Titulo"></span>
    </div>
    <div>
        <input asp-for="Edicao" placeholder="Edição" />
        <span asp-validation-for="Edicao"></span>
    </div>
    <div>
        <input asp-for="Descricao" placeholder="Descrição" />
        <span asp-validation-for="Descricao"></span>
    </div>
    <div>
        <select asp-for="CategoriaId" asp-items="@ViewBag.Categorias" selected="CategoriaId"></select>
    </div>
    <div>
        <label asp-for="Disponivel">Disponível</label>
        <select asp-for="Disponivel">
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
        <span asp-validation-for="Disponivel"></span>
    </div>

    <button type="submit">Salvar</button>
</form>