@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao ShareHQ</h1>
    <div><a asp-action="Usuario">Cadastros de Usuários</a></div>
    <div><a asp-action="Categoria">Cadastros de Categorias</a></div>
    <div><a asp-action="Item">Cadastros de Itens</a></div>
    <div><a asp-action="Emprestimo">Empréstimo de Itens</a></div>
</div>
