@model Item

<form method="post" class="form-control" asp-controller="Home" asp-action="Item">

    <h3>Publicação</h3>

    <div>
        <input asp-for="Titulo" placeholder="Título" />
        <span asp-validation-for="Titulo"></span>
    </div>
    <div>
        <input asp-for="Edicao" placeholder="Edição" />
        <span asp-validation-for="Edicao"></span>
    </div>
    <div>
        <input asp-for="Descricao" placeholder="Descrição" />
        <span asp-validation-for="Descricao"></span>
    </div>
    <!-- Desenvolver para Utilizar os registros cadastrados ***usar asp-options-for -->
    <div>
        <input asp-for="Categoria" placeholder="Categoria" />
        <span asp-validation-for="Categoria"></span>
    </div>
    <div>
        <label asp-for="Disponivel">Disponível</label>
        <select asp-for="Disponivel">
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select>
        <span asp-validation-for="Disponivel"></span>
    </div>

    <button type="submit">Cadastrar</button>
</form>