@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A ShareHQ se preocupa com a sua privacidade e respeita a proteção de seus dados. O cumprimento da legislação relativa a proteção de dados apresenta-se como uma prioridade, o que se reafirma com a presente política da privacidade.</p>
<p>A ShareHQ adota todas as medidas necessárias para assegurar que os dados pessoais de terceiros que estão sob sua guarda sejam tratados de forma segura e de acordo com a legislação aplicável.</p>
