@model Item

<form method="post" class="form-control form-group" asp-controller="Home" asp-action="RemocaoItem">

    <h3>Exclusão do Item</h3>
    <div class="four wide column">
        <p> Confirmar remoção do item?</p>
        <button type="submit">Remover</button>
    </div>
</form>