@model ItemEmprestado

<form method="post" class="form-control form-group" asp-controller="Home" asp-action="RemocaoItemEmprestado">

    <h3>Exclusão da Item Emprestado</h3>
    <div class="four wide column">
        <p> Confirmar remoção do item emprestado?</p>
        <button type="submit">Remover</button>
</form>