@model Usuario

<h1>Removendo Usuario</h1>

<form method="post" asp-controller="Home" asp-action="UsuarioRemocao">

    <h3>Exclusão do Usuário</h3>
    <div class="four wide column">
        <p> Confirmar remoção do usuário?</p>
        <button type="submit">Remover</button>
    </div>
</form>