@model Usuario

<form method="post" class="form-control" asp-controller="Home" asp-action="Usuario">

    <h3>Usuário</h3>

    <div>        
        <input asp-for="Nome" placeholder="Nome"/>
        <span asp-validation-for="Nome"></span>
    </div>
    <div>        
        <input asp-for="Email" placeholder="E-mail"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>        
        <input asp-for="Telefone" placeholder="Telefone"/>
        <span asp-validation-for="Telefone"></span>
    </div>

    <button type="submit">Cadastrar</button>
</form>